:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #212121;
  color: aliceblue;

    & h1 {
      font-size: 3.2em;
      line-height: 1.1;
    }
}

