:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  margin-top: 25vh;
  background-color: #212121;
  color: azure;
  text-align: center;

  & h3{
    color: antiquewhite;
  }
}
